.wrap_map{
    width: 100vw;
    height: 100vh;
}
.grig_map{
    width: inherit;
    height: inherit;
}
.element_grid{
    display: inline-block;
    width: var(--width_elements);
    height: var(--heigth_elements);
    border: 1px solid black;
}